{% block container %}
  {% set view_mode = entity.field_link_template.0.value ?: view_mode|default('full') %}
  <div class="linkblock linkblock--{{ view_mode }}">

    {% block images %}
      <div class="linkblock__imgwrapper linkblock__imgwrapper--{{ view_mode }}">
        {% block image_canvas %}
          <div class="linkblock__imgcanvas linkblock__imgcanvas--{{ view_mode }}">
            {{ content.field_images.0 }}
          </div>
        {% endblock %}
      </div>
    {% endblock %}

    {% block text %}
      <div class="linkblock__textwrapper linkblock__textwrapper--{{ view_mode }} {{ view_mode == 'imgback' ? 'section--light-over-image' }}">
        {% block title %}
          {% if content.field_title.0 %}
            <h{{ header_level|default(3) }} class="linkblock__title linkblock__title--{{ view_mode }}">
              {% if url %}<a href="{{ url }}">{% endif %}
                {{ content.field_title }}
              {% if url %}</a>{% endif %}
            </h{{ header_level|default(3) }}>
          {% endif %}
        {% endblock %}

        {% block body %}
          {{ content.field_text }}
        {% endblock %}

        {% block links %}
          <div class="linkblock__morewrapper linkblock__morewrapper--{{ view_mode }}">
            <a href="{{ url }}">
              {{ entity.field_link.0.title ? content.field_link.0['#title'] : "Details"|t }}
            </a>
          </div>
        {% endblock %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
