@use "sass:map";
@use "mixins/_bp" as bp;

:root {
  --color--foreground-dark: #333;
  --color--foreground-grayish: var(--color--foreground-dark);
  --color--foreground-light: white;

  --color--primary: red;
  --color--primary-inverse: white;
  --color--primary-accent: #b30000;

  --color--secondary: blue;
  --color--secondary-inverse: white;
  --color--secondary-accent: #3333ff;

  --color--background-light: white;
  --color--background-grayish: #efefef;
  --color--background-dark: var(--color--foreground-dark);

  --color--foreground-light-accent: #ddd;
  --color--foreground-primary-inverse-accent: #ddd;

  /**
   * These are 5 very important variables that used by every colorscheme.
   * Map other color variables into them according to colorscheme.
   */
  --color--foreground: var(--color--foreground-dark);
  --color--background: var(--color--background-light);
  --color--highlight: var(--color--primary);
  --color--highlight-inverse: var(--color--primary-inverse);
  --color--highlight-accent: var(--color--primary-accent);



  --font-family--system: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --font-family--base: var(--font-family--system);
  --font-style--base: normal;
  --font-weight--base: normal;
  --font-weight--strong: bold;

  --font-family--decorative: var(--font-family--base);
  --font-style--decorative: var(--font-style--base);
  --font-weight--decorative: var(--font-weight--base);

  --font-size--base: 16px;
  --font-size: var(--font-size--base);
  @include bp.only(md) {
    --font-size: calc(var(--font-size--base) + 1px);
  }
  @include bp.up(lg) {
    --font-size: calc(var(--font-size--base) + 2px);
  }
  --font-size--minor: calc(var(--font-size) - 2px);
  @include bp.up(md) {
    --font-size--minor: calc(var(--font-size) - 3px);
  }

  --line-height: 1.5;
  --letter-spacing: normal;
  --vertical-text-spacer: 1rem;

  --transition-fast: all 150ms linear;
  --transition-slow: all 800ms ease-in-out;

  --z-index--fixed: 400;
  --z-index--modal: 1200;

  --anchor--text-decoration: none;



  --btn--border-width--base: 1px;
  --btn--border-width--outline: 2px;
  --btn--padding-x: 0.5rem;
  --btn--padding-y: 0.25rem;
  --btn--line-height: calc(var(--font-size) * var(--line-height));
  --btn--border-radius: 0;
  --btn--border-color: transparent;
  --btn--font-family: var(--font-family--base);
  --btn--font-weight: var(--font-weight--base);
  --btn--font-style: var(--font-style--base);
  --btn--font-size: var(--font-size);
  --btn--letter-spacing: var(--letter-spacing);
  --btn--text-transform: none;

  --inp--border-width: var(--btn--border-width--base);
  --inp--padding-x: var(--btn--padding-x);
  --inp--padding-y: var(--btn--padding-y);
  --inp--line-height: var(--line-height);
  --inp--border-radius: var(--btn--border-radius);
  --inp--border-color: var(--color--foreground-dark);
  --inp--color: var(--color--foreground-dark);
  --inp--background: var(--color--background-light);
  --inp--font-family: var(--font-family--base);
  --inp--font-weight: var(--font-weight--base);
  --inp--font-style: var(--font-style--base);
  --inp--font-size: var(--font-size);
  --inp--letter-spacing: var(--letter-spacing);


  --toolbar-height: 0px;
  --fixed-top: var(--toolbar-height);
  //helper variable to handle the real viewport height on mobile devices (address bar)
  //@see wt_frontend.js / Drupal.wt.setViewportHeightProperty
  --viewport-height: 100vh;

  //menu variables used by JS
  //@see wt_frontend.js / Drupal.wt.openMenu, Drupal.wt.closeMenu
  --menu--animation: collapse; //set by <ul> and breakpoint
  //@see wt_hoverintent.js
  --menu--open-on-hover: false; //set by <ul> and breakpoint
}

.toolbar-fixed {
  --toolbar-height: 48px;
  --fixed-top: var(--toolbar-height);

  &.toolbar-horizontal.toolbar-tray-open {
    --toolbar-height: 97px;
    --fixed-top: var(--toolbar-height);
  }
}


