@use "config";
@use "mixins/_bp" as bp;

.btn, button, input[type=button], input[type=submit], input[type=reset] {
  --btn--color: var(--color--primary-inverse);
  --btn--background: var(--color--primary);
  --btn--border-width: var(--btn--border-width--base);

  &:hover, &:focus {
    --btn--color: var(--color--primary-inverse);
    --btn--background: var(--color--primary-accent);
  }

  display: inline-block;
  margin: 0;
  border: var(--btn--border-width) solid var(--btn--border-color);
  padding: calc(var(--btn--padding-y) - var(--btn--border-width)) calc(var(--btn--padding-x) - var(--btn--border-width));
  border-radius: var(--btn--border-radius);

  font-family: var(--btn--font-family);
  font-style: var(--btn--font-style);
  font-weight: var(--btn--font-weight);
  font-size: var(--btn--font-size);
  letter-spacing: var(--btn--letter-spacing);
  line-height: var(--btn--line-height);
  text-decoration: none;
  text-transform: var(--btn--text-transform);
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition-fast);

  color: var(--btn--color);
  background: var(--btn--background);

  &:hover, &:focus {
    color: var(--btn--color);
    background: var(--btn--background);
    border-color: var(--btn--border-color);
  }


  &[disabled] {
    cursor: not-allowed;
    opacity: 0.9;
  }
}

@mixin btn--blank {
  --btn--color: var(--color--foreground);
  --btn--background: transparent;
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;

  &:hover, &:focus {
    --btn--color: var(--color--highlight);
    --btn--background: transparent;
  }
}

.btn--blank, %btn--blank {
  @include btn--blank;
}

@mixin btn--primary {
  --btn--color: --color--primary-inverse;
  --btn--background: --color--primary;

  &:hover, &:focus {
    --btn--color: var(--color--primary-inverse);
    --btn--background: var(--color--primary-accent);
  }
}

.btn--primary, %btn--primary {
  @include btn--primary;
}

@mixin btn--secondary {
  --btn--color: var(--color--secondary-inverse);
  --btn--background: var(--color--secondary);

  &:hover, &:focus {
    --btn--color: var(--color--secondary-inverse);
    --btn--background: var(--color--secondary-accent);
  }
}

.btn--secondary, %btn--secondary {
  @include btn--secondary;
}

@mixin btn--outline {
  --btn--color: var(--color--highlight);
  --btn--border-color: var(--btn--color);
  --btn--border-width: var(--btn--border-width--outline);
  --btn--background: transparent;

  &:hover, &:focus {
    --btn--color: var(--color--accent);
  }
}

.btn--outline, %btn--outline, input[type=reset] {
  @include btn--outline;
}

input, textarea, select {
  font: var(--font-weight--base) var(--font-size) var(--font-family--base);
  border: var(--inp--border-width) solid var(--inp--border-color);
  padding: calc(var(--inp--padding-y) - var(--inp--border-width)) calc(var(--inp--padding-x) - var(--inp--border-width));
  line-height: var(--inp--line-height);
  border-radius: var(--inp--border-radius);
  color: var(--inp--color);
  background: var(--inp--background);
  font-family: var(--inp--font-family);
  font-weight: var(--inp--font-weight);
  font-style: var(--inp--font-style);
  font-size: var(--inp--font-size);
  letter-spacing: var(--inp--letter-spacing);
}
