@use "mixins/_bp" as bp;
@use "sass:map";


//
// by default we want images to be responsive
//
.field__item--type-image {
  position: relative;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

//
// section
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getInnerGapOptions
//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getTopPaddingOptions
//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getBottomPaddingOptions
$named--paddings: (
  'none',
  'thin',
  'small',
  'large',
) !default;

.section {
  position: relative;
  overflow-x: hidden;

  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getSectionWidthOptions
  --grid--side-padding--small: 10px;
  //NOTICE: due mediaquery this variable must be set via $sass-variable
  $grid--side-padding--large: 70px;
  --grid--side-padding--large: #{$grid--side-padding--large};

  &--limited, &--padded {
    padding-left: var(--grid--side-padding--small);
    padding-right: var(--grid--side-padding--small);

    @media (min-width: #{map.get(bp.$set, 'lg')}) {
      padding-left: calc((100vw - #{map.get(bp.$set, 'lg')}) / 2);
      padding-right: calc((100vw - #{map.get(bp.$set, 'lg')}) / 2);
    }
  }

  &--padded {
    @media (min-width: #{map.get(bp.$set, 'lg') + 2 * $grid--side-padding--large}) {
      padding-left: var(--grid--side-padding--large);
      padding-right: var(--grid--side-padding--large);
    }
  }

  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getTopPaddingOptions
  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getBottomPaddingOptions
  --grid--vertical-padding--none: 0;
  --grid--vertical-padding--thin: 2px;
  --grid--vertical-padding--small: 10px;
  @include bp.between(sm, md) {
    --grid--vertical-padding--small: 20px;
  }
  @include bp.up(lg) {
    --grid--vertical-padding--small: 30px;
  }

  --grid--vertical-padding--large: var(--grid--vertical-padding--small);
  @include bp.only(md) {
    --grid--vertical-padding--large: 40px;
  }
  @include bp.only(lg) {
    --grid--vertical-padding--large: 70px;
  }

  @each $key in $named--paddings {
    &--tp-#{$key} {
      padding-top: var(--grid--vertical-padding--#{$key});
    }
    &--bp-#{$key} {
      padding-bottom: var(--grid--vertical-padding--#{$key});
    }
  }
  @for $rem from 1 through 9 {
    &--tp-#{$rem}rem {
      padding-top: #{$rem}rem;
    }
    &--bp-#{$rem}rem {
      padding-bottom: #{$rem}rem;
    }
  }
}

//
// wrapper
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getColsOptions
//do NOT use flex units like "1fr 1fr", because they would loose vertical alignment across multiple sections,
//e.g. 3fr is not same with when using "1fr 1fr 3fr" vs. "2fr 3fr"
$wrapper--cols: (
  '1-1': 50% 50%,
  '1-2': 33.3333% 66.6667%,
  '2-1': 66.6667% 33.3333%,
  '2-3': 40% 60%,
  '3-2': 60% 40%,
  '1-4': 20% 80%,
  '4-1': 80% 20%,
  '1-1-1': 33.3333% 33.3333% 33.3333%,
  '4-3-3': 40% 30% 30%,
  '3-4-3': 30% 40% 30%,
  '3-3-4': 30% 30% 40%,
  '2-1-1': 50% 25% 25%,
  '1-2-1': 25% 50% 25%,
  '1-1-2': 25% 25% 50%,
  '3-1-1': 60% 20% 20%,
  '1-3-1': 20% 60% 20%,
  '1-1-3': 20% 20% 60%,
) !default;


/*
$wrapper--cols: (
  '1-1': 1fr 1fr,
  '1-2': 1fr 2fr,
  '2-1': 2fr 1fr,
  '2-3': 2fr 3fr,
  '3-2': 3fr 2fr,
  '1-4': 1fr 4fr,
  '4-1': 4fr 1fr,
  '1-1-1': 1fr 1fr 1fr,
  '4-3-3': 4fr 3fr 3fr,
  '3-4-3': 3fr 4fr 3fr,
  '3-3-4': 3fr 3fr 4fr,
  '2-1-1': 2fr 1fr 1fr,
  '1-2-1': 1fr 2fr 1fr,
  '1-1-2': 1fr 1fr 2fr,
  '3-1-1': 3fr 1fr 1fr,
  '1-3-1': 1fr 3fr 1fr,
  '1-1-3': 1fr 1fr 3fr,
) !default;
*/

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getRowsOptions
$wrapper--rows: (
  '1-1': 1fr 1fr,
  'min-min': min-content min-content,
  '1-min': 1fr min-content,
  'min-1': min-content 1fr,
  '1': 1fr,
  'min': min-content,
) !default;

.wrapper {
  position: relative;
  display: grid;
  align-items: stretch;
  width: 100%;

  @each $key, $value in $wrapper--cols {
    &--cols-#{$key} {
      grid-template-columns: $value;
    }
  }

  @each $key, $value in $wrapper--rows {
    &--rows-#{$key} {
      grid-template-rows: $value;
    }
  }

  //@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getInnerGapOptions
  --grid--gap--none: var(--grid--vertical-padding--none);
  --grid--gap--thin: var(--grid--vertical-padding--thin);
  --grid--gap--small: var(--grid--vertical-padding--small);
  --grid--gap--large: var(--grid--vertical-padding--large);

  @each $key in $named--paddings {
    &--gap-#{$key}, &--gap-#{$key} {
      //do NOT use "gap" for inner horizontal padding. it would mess up with "fr" units
      //e.g. (1fr + 1fr + 3fr) !== (2fr + 3fr) when using gap (due 1 extra gap)
      margin-left: calc(var(--grid--gap--#{$key}) * -1 / 2);
      margin-right: calc(var(--grid--gap--#{$key}) * -1 / 2);
      width: calc(100% + var(--grid--gap--#{$key}));
      row-gap: var(--grid--gap--#{$key});
    }
  }

  @include bp.down(xs) {
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

//
// areas/regions
//

//@see Drupal\wt_cms\Plugin\Layout\CmsLayout::getVerticalAlignOptions
$area--vertical-align: (
  'top': flex-start,
  'center': center,
  'bottom': flex-end,
  'stretch': stretch,
  'space-between': space-between,
  'space-around': space-around,
) !default;

.area {
  display: flex;
  flex-flow: row wrap;

  > * {
    width: 100%;
  }

  @each $key, $value in $area--vertical-align {
    &--vertical-align-#{$key} {
      align-content: $value;
    }
  }

  &--background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  //the flex layout version of inner gap, part 2
  //@see .wrapper--negative-gap-#{$key}
  @each $key in $named--paddings {
    &--gap-#{$key} {
      padding-left: calc(var(--grid--gap--#{$key}) / 2);
      padding-right: calc(var(--grid--gap--#{$key}) / 2);
    }
  }

}

//for a justified layout we need to stretch the children too.
.area--vertical-align-stretch {
  .block, .field, .field__item--type-entity_reference, .field__item--type-entity_reference > * {
    display: flex;
    width: 100%;
    align-items: stretch;
  }
}


//
// Onerow
//

//@see Drupal\wt_cms\Plugin\Layout\OneRowLayout::getJustifyContentOptions
$onerow--justify-content: (flex-start, center, flex-end, space-between, space-evenly, space-between) !default;

.section--onerow {
  //onerow has the outer bottom padding on the inner areas due flexbox wrapping
  padding-bottom: 0;
}

.wrapper--onerow {
  display: flex; //the only flex based wrapper
  flex-flow: row wrap;

  @each $value in $onerow--justify-content {
    &-#{$value} {
      justify-content: $value;
    }
  }
}

//@see Drupal\wt_cms\Plugin\Layout\OneRowLayout::getFlexOptions
$onerow--flexvalues: (
  'divide': 1 1 0,
  '1-1': 0 0 100%,
  '5-6': 0 0 83.3333%,
  '4-5': 0 0 80%,
  '3-4': 0 0 75%,
  '2-3': 0 0 66.6667%,
  '3-5': 0 0 60%,
  '1-2': 0 0 50%,
  '2-5': 0 0 40%,
  '1-3': 0 0 33.3333%,
  '3-10': 0 0 30%,
  '1-4': 0 0 25%,
  '1-5': 0 0 20%,
  '1-6': 0 0 16.6667%,
  '1-10': 0 0 10%,
  '1-12': 0 0 8.3333%,
  '1-20': 0 0 5%,
  'shrink': 0 1 auto,
) !default;

.area--onerow {
  &.area--vertical-align-start {
    align-self: flex-start;
  }

  &.area--vertical-align-center {
    align-self: center;
  }

  &.area--vertical-align-end {
    align-self: flex-end;
  }

  @each $flexkey, $flexvalue in $onerow--flexvalues {
    &-#{$flexkey} {
      flex: $flexvalue;
    }
  }

  @each $bpkey, $bpvalue in bp.$set {
    @include bp.up($bpkey) {
      @each $flexkey, $flexvalue in $onerow--flexvalues {
        &-#{$flexkey}\@#{$bpkey}-up {
          flex: $flexvalue;
        }
      }
    }
  }

  //onerow flex layout has outer padding bottom moved from section to individual area margins due flexbox wrapping
  @each $key in $named--paddings {
    .section--bp-#{$key} & {
      margin-bottom: var(--grid--vertical-padding--#{$key});
    }
  }
  @for $rem from 1 through 9 {
    .section--bp-#{$rem}rem & {
      margin-bottom: #{$rem}rem;
    }
  }
}



//
// Repeat col
//

//repeat col acts like a grid layout, but one level deeper than usual,
//and uses the single "main" region as container instead of the wrapper
.wrapper--repeatcol {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.area--repeatcol {
  &--main {
    display: grid;
  }
}

//@see Drupal\wt_cms\Plugin\Layout\RepeatcolLayout::getRowsOptions
$area--rows: (
  '1': 1fr,
  'min': min-content,
) !default;

.area {
  @each $key, $value in $area--rows {
    &--rows-#{$key} {
      grid-template-rows: $value;
    }
  }
}

//
// 1 large, 2 small
//

.wrapper--lg1sm2 {
  &__lg_left {
    grid-template-areas:
      "large upper_small"
      "large lower_small";

    @include bp.down(xs) {
      grid-template-areas: "large" "upper_small" "lower_small";
    }
  }

  &__lg_right {
    grid-template-areas:
      "upper_small large"
      "lower_small large";

    @include bp.down(xs) {
      grid-template-areas: "upper_small" "lower_small" "large";
    }
  }
}

.area--lg1sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large {
    grid-area: large;
  }

  &--upper_small {
    grid-area: upper_small;
  }

  &--lower_small {
    grid-area: lower_small;
  }
}



//
// 1 tall, 1 wide, 2 small
//

.wrapper--tall1wide1sm2 {
  &__wide_upright {
    grid-template-areas:
      "tall wide wide"
      "tall small1 small2";

    @include bp.down(xs) {
      grid-template-areas: "tall" "wide" "small1" "small2";
    }
  }

  &__wide_downright {
    grid-template-areas:
      "tall small1 small2"
      "tall wide wide";

    @include bp.down(xs) {
      grid-template-areas: "tall" "small1" "small2" "wide";
    }
  }

  &__wide_upleft {
    grid-template-areas:
      "wide wide tall"
      "small1 small2 tall";

    @include bp.down(xs) {
      grid-template-areas: "wide" "tall" "small1" "small2";
    }
  }

  &__wide_downleft {
    grid-template-areas:
      "small1 small2 tall"
      "wide wide tall";

    @include bp.down(xs) {
      grid-template-areas: "small1" "small2" "tall" "wide";
    }
  }
}

.area--tall1wide1sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--tall {
    grid-area: tall;
  }

  &--wide {
    grid-area: wide;
  }

  &--small1 {
    grid-area: small1;
  }

  &--small2 {
    grid-area: small2;
  }
}



//
// 2 large, 2 small
//

.wrapper--lg2sm2 {
  &__sm_left {
    grid-template-areas:
      "upper_small large1 large2"
      "lower_small large1 large2";

    @include bp.down(xs) {
      grid-template-areas: "upper_small" "large1" "large2" "lower_small";
    }
  }

  &__sm_center {
    grid-template-areas:
      "large1 upper_small large2"
      "large1 lower_small large2";

    @include bp.down(xs) {
      grid-template-areas: "large1" "upper_small" "large2" "lower_small";
    }
  }

  &__sm_right {
    grid-template-areas:
      "large1 large2 upper_small"
      "large1 large2 lower_small";

    @include bp.down(xs) {
      grid-template-areas: "large1" "large2" "upper_small" "lower_small";
    }
  }
}

.area--lg2sm2 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large1 {
    grid-area: large1;
  }

  &--large2 {
    grid-area: large2;
  }

  &--upper_small {
    grid-area: upper_small;
  }

  &--lower_small {
    grid-area: lower_small;
  }
}



//
// 1 large, 4 small
//

.wrapper--lg1sm4 {
  &__lg_left {
    grid-template-areas:
      "large upper_small1 upper_small2"
      "large lower_small1 lower_small2";

    @include bp.down(xs) {
      grid-template-areas: "large" "upper_small1" "upper_small2" "lower_small1" "lower_small2";
    }
  }

  &__lg_center {
    grid-template-areas:
      "upper_small1 large upper_small2"
      "lower_small1 large lower_small2";

    @include bp.down(xs) {
      grid-template-areas: "upper_small1" "large" "upper_small2" "lower_small1" "lower_small2";
    }
  }

  &__lg_right {
    grid-template-areas:
      "upper_small1 upper_small2 large"
      "lower_small1 lower_small2 large";

    @include bp.down(xs) {
      grid-template-areas: "upper_small1" "upper_small2" "large" "lower_small1" "lower_small2";
    }
  }
}

.area--lg1sm4 {
  @include bp.down(xs) {
    width: 100%;
  }

  &--large {
    grid-area: large;
  }

  &--upper_small1 {
    grid-area: upper_small1;
  }

  &--upper_small2 {
    grid-area: upper_small1;
  }

  &--lower_small1 {
    grid-area: lower_small1;
  }

  &--lower_small2 {
    grid-area: lower_small2;
  }
}

