@use "mixins/_bp" as bp;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;

  font-size: var(--font-size);
  font-family: var(--font-family--base);
  font-weight: var(--font-weight--base);
  font-style: var(--font-style--base);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  color: var(--color--foreground);
  background-color: var(--color--background);

  -webkit-text-size-adjust: 100%;

  scroll-behavior: smooth;
}

.section--dark-over-gray {
  --color--background: var(--color--background-grayish);
}

.section--dark-over-image {
  --color--background: transparent;
}

.section--light-over-dark {
  --color--foreground: var(--color--foreground-light);
  --color--background: var(--color--background-dark);
  --color--highlight: var(--color--foreground-light);
  --color--accent: var(--color--foreground-light-accent);

  a, %anchor {
    --anchor--text-decoration: underline;
  }
}

.section--light-over-image {
  --color--foreground: var(--color--foreground-light);
  --color--background: transparent;
  --color--highlight: var(--color--foreground-light);
  --color--accent: var(--color--foreground-light-accent);

  a, %anchor {
    --anchor--text-decoration: underline;
  }
}

.section--inverse-over-primary {
  --color--foreground: var(--color--primary-inverse);
  --color--background: var(--color--primary);
  --color--highlight: var(--color--primary-inverse);
  --color--accent: var(--color--foreground-primary-inverse-accent);

  a, %anchor {
    --anchor--text-decoration: underline;
  }
}

.section {
  color: var(--color--foreground);
  background-color: var(--color--background);
}

.block {
  position: relative;
}

body {
  margin: 0;
  padding: 0;
}

.cke_editable:not(.cke_editable_inline) {
  margin: 10px;
}

b, strong {
  font-weight: var(--font-weight--strong);
}

a, %anchor {
  color: var(--color--highlight);
  text-decoration: var(--anchor--text-decoration);
  transition: var(--transition-fast);

  &:hover, &:focus {
    color: var(--color--accent);
  }

  h1 > &, h2 > &, h3 > &, h4 > &, h5 > &, h6 > & {
    color: inherit;
    text-decoration: none;
  }
}

:focus {
  outline: 0 none;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl, table, blockquote {
  margin: 0;

  & + & {
    margin-top: var(--vertical-text-spacer);
  }
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
