@use "config" as config;
@use "mixins/_bp" as bp;

//
// General utilities
//
.clearfix, %clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.visually-hidden, .sr-only, %visually-hidden, %sr-only{
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute!important;
  width: 1px !important;
  white-space: nowrap !important;
}

.fluid, %fluid {
  display: block;
  width: 100%;
  height: auto;
}

.responsive, %responsive {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

//
// Visibility
//

.hidden, %hidden {
  display: none !important;
}

@each $key, $label in bp.$set {
  @include bp.only($key) {
    .hidden\@#{$key}, %hidden\@#{$key} {
      display: none !important;
    }
  }

  @include bp.up($key) {
    .hidden\@#{$key}-up, %hidden\@#{$key}-up {
      display: none !important;
    }
  }

  @include bp.down($key) {
    .hidden\@#{$key}-down, %hidden\@#{$key}-down {
      display: none !important;
    }
  }
}

.list-reset, %list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    margin-left: 0;
  }
}
