//
// Mixins to generate media queries
//

@use "sass:map";
@use "sass:list";

$set: (
  'xs': 0,
  'sm': 768px,
  'md': 1024px,
  'lg': 1320px,
) !default;

//private
@function _next($name, $breakpoints) {
  $keys: map.keys($breakpoints);
  $i: list.index($keys, $name);
  @return if($i < list.length($keys), list.nth($keys, $i + 1), null);
}

@function _min($name, $breakpoints) {
  $min: map.get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function _max($name, $breakpoints) {
  $next: _next($name, $breakpoints);
  @return if($next, _min($next, $breakpoints) - 1px, null);
}

//public
@mixin up($name, $breakpoints: $set) {
  $min: _min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin down($name, $breakpoints: $set) {
  $max: _max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


@mixin between($lower, $upper, $breakpoints: $set) {
  $min: _min($lower, $breakpoints);
  $max: _max($upper, $breakpoints);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $min {
    @include up($lower, $breakpoints) {
      @content;
    }
  } @else if $max {
    @include down($upper, $breakpoints) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin only($name, $breakpoints: $set) {
  @include between($name, $name, $breakpoints) {
    @content;
  }
}
