//
// Mixins to generate contextual colorschemes
//

@use "sass:map";

@mixin dog {
   & {
    @content;
  }
}

@mixin doi{
  section--dark-over-image & {
    @content;
  }
}

@mixin lod {
   & {
    @content;
  }
}

@mixin loi{
  @at-root  & {
    @content;
  }
}

@mixin iop {
  @at-root  & {
    @content;
  }
}
