@use "sass:string";

@function replace($string, $search, $replace: '') {
  $index: str.index($string, $search);

  @if $index {
    @return str.slice($string, 1, $index - 1) + $replace + replace(str.slice($string, $index + str.length($search)), $search, $replace);
  }

  @return $string;
}

@mixin button($selector: ".btn, button, input[type=button], input[type=submit], input[type=reset]") {
  #{$selector} {
    @content;
  }
}

@mixin header($level, $selectorWithPlaceholder: "hLEVEL, .header--LEVEL", $placeholder: "LEVEL") {
  $parsedSelector: replace($selectorWithPlaceholder, $placeholder, $level);
  #{$parsedSelector} {
    @content;
  }
}
