{% apply spaceless %}

{% set line_length = line_length|default(60) %}
{% set arrow_width = width|default(10) %}
{% set height = height|default(20) %}
{% set strokewidth = strokewidth|default(2) %}
{% set halfstroke = strokewidth / 2 %}

{% set attributes = create_attribute({
  'xmlns': 'http://www.w3.org/2000/svg',
  'class': ['svg', 'svg--stroke', 'svg--arrow', 'svg--arrow-left'],
  'stroke': 'currentColor',
  'stroke-linecap': 'round',
  'stroke-linejoin': 'round',
  'fill': 'none',
}) %}
{% if class %}
  {% set attributes = attributes.addClass(class) %}
{% endif %}
{% set attributes = attributes.setAttribute('width', line_length) %}
{% set attributes = attributes.setAttribute('height', height) %}
{% set attributes = attributes.setAttribute('viewBox', '0 0 ' ~ line_length ~ ' ' ~ height) %}
{% set attributes = attributes.setAttribute('stroke-width', strokewidth) %}

<svg {{ attributes }}>
  <polyline points="{{ arrow_width }} {{ halfstroke }} {{ halfstroke }} {{ height / 2 }} {{ arrow_width }} {{ height - halfstroke }}"></polyline>
  <polyline points="{{ halfstroke }} {{ height / halfstroke }} {{ line_length - halfstroke }} {{ height / 2 }}"></polyline>
</svg>

{% endapply %}
