{% apply spaceless %}

{% set width = width|default(20) %}
{% set height = height|default(40) %}
{% set strokewidth = strokewidth|default(2) %}
{% set halfstroke = strokewidth / 2 %}

{% set attributes = create_attribute({
  'xmlns': 'http://www.w3.org/2000/svg',
  'class': ['svg', 'svg--stroke', 'svg--chevron', 'svg--chevron-right'],
  'stroke': 'currentColor',
  'stroke-linecap': 'round',
  'stroke-linejoin': 'round',
  'fill': 'none',
}) %}
{% if class %}
  {% set attributes = attributes.addClass(class) %}
{% endif %}
{% set attributes = attributes.setAttribute('width', width) %}
{% set attributes = attributes.setAttribute('height', height) %}
{% set attributes = attributes.setAttribute('viewBox', '0 0 ' ~ width ~ ' ' ~ height) %}
{% set attributes = attributes.setAttribute('stroke-width', strokewidth) %}

<svg {{ attributes }}>
  <polyline points="{{ halfstroke }} {{ halfstroke }} {{ width - halfstroke }} {{ height / 2 }} {{ halfstroke }} {{ height - halfstroke }}"></polyline>
</svg>

{% endapply %}
