{#
/**
 * @see wt_cms_preprocess_menu()
 */
#}
{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass(['nav__ul--level-' ~ menu_level, 'nav__ul--' ~ menu_name ~ '-' ~ menu_level]) }}>
    {% set attributes = attributes.removeClass(['nav__ul--level-' ~ menu_level, 'nav__ul--' ~ menu_name ~ '-' ~ menu_level]) %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
