<div{{ attributes }}>
  {% block content %}
    {% set bundle = content['#bundle']|default('BUNDLE_MISSING') %}
    {% set viewmode = content['#view_mode']|replace({'_custom': 'full', '_default': 'full'})|default('VIEWMODE_MISSING') %}
    <h{{ header_level|default(1) }} class="field field--title node__title node__title--{{ bundle }} {{ bundle }}__title {{ bundle }}__title--{{ viewmode }}">{{ content }}</h{{ header_level|default(1) }}>
  {% endblock %}
</div>
