{% block container %}
  {% set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ] %}

  {% set show_slider = show_slider|default(true) %}
  {% if items|length < 2 %}
    {% set show_slider = false %}
  {% endif %}
  {% if show_slider %}
    {% set attributes = attributes.addClass('glide') %}
    {{ attach_library('wt_frontend/glidejs') }}
  {% endif %}

  {% block glide %}
    <div{{ attributes }}>
      {% block label %}
        {% if not label_hidden|default(true) %}
          <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% endif %}
      {% endblock %}

      {% block track %}
        {% if show_slider %}
          <div class="glide__track" data-glide-el="track"><div class="glide__slides"> {# open glide wrapper #}
        {% endif %}

        {% block items %}
          {% for item in items %}
            <div{{ item.attributes.addClass(show_slider ? 'glide__slide' : null) }}>{% block content %}{{ item.content }}{% endblock %}</div>
          {% endfor %}
        {% endblock %}

        {% if show_slider %}
          </div></div> {# close glide wrapper #}
        {% endif %}
      {% endblock %}

      {% block arrows %}
        {% if show_arrows|default(true) and show_slider %}
          <div class="field__arrows field__arrows--images glide__arrows" data-glide-el="controls">
            {% if show_arrow_left|default(true) %}
              <button class="field__arrow field__arrow--images field__arrow--left glide__arrow glide__arrow--left"
                      data-glide-dir="<">{% block arrow_left %}{{ include('@wt_frontend/svg/chevron-left.svg.twig') }}{% endblock %}</button>
            {% endif %}
            {% if show_arrow_right|default(true) %}
              <button class="field__arrow field__arrow--images field__arrow--right glide__arrow glide__arrow--right"
                      data-glide-dir=">">{% block arrow_right %}{{ include('@wt_frontend/svg/chevron-right.svg.twig') }}{% endblock %}</button>
            {% endif %}
          </div>
        {% endif %}
      {% endblock %}

      {% block bullets %}
        {% if show_bullets|default(false) and show_slider %}
          <div class="field__bullets field__bullets--images glide__bullets" data-glide-el="controls[nav]">
            {% for item in items %}
              <button class="field__bullet field__bullets--images glide__bullet"
                      data-glide-dir="={{ loop.index0 }}"></button>
            {% endfor %}
          </div>
        {% endif %}
      {% endblock %}

    </div>
  {% endblock %}
{% endblock %}
