//blocks are the outer border of all our components
.block {
  position: relative;
}

//placeholders for shared fields accross multiple components
%field--image_zoom {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

