@use "shared";

.bc-image {
  &__image_zoom {
    @include shared.field--image_zoom;
  }

  .area--vertical-align-stretch & {
    .field__item--media_image {
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }
}
