.bc-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  div, article, picture {
    width: 100%;
    height: 100%;
  }

  picture {
    display: flex;
  }

  img {
    object-fit: cover;
  }

  &__season_cachecontext {
    display: none !important;
  }
}
