.linkblock {
  position: relative;

  &--imgback {
    color: white;

    a {
      color: white;
      text-decoration: none;

      &:hover, &:focus {
        color: #ddd;
      }
    }


    .area--vertical-align-stretch & {
      .linkblock__imgwrapper--imgback {
        height: 100%;

        div, article {
          height: 100%;
        }
      }
      .field__item--media_image {
        display: flex;

        img {
          object-fit: cover;
        }
      }
    }
  }

  &__imgwrapper--imgback {
    .field__item {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0.7) 100%);
      }
    }
  }

  &__textwrapper--imgback {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 3rem);

    .wrapper--cols-3-1-1 .area--tall1wide1sm2--tall &, .wrapper--cols-4-3-3 .area--tall1wide1sm2--tall & {
      bottom: 2rem;
      left: 2rem;
    }
  }

  &__title--imgback {
    font-weight: 500;
    font-size: 1.1rem;

    .wrapper--cols-3-1-1 .area--tall1wide1sm2--tall &, .wrapper--cols-4-3-3 .area--tall1wide1sm2--tall & {
      font-size: 1.75rem;
    }

  }

  &__morewrapper--imgback {
    display: none;
  }

}
