@use "../../../../../core/themes/claro/css/components/messages.css";

#messages-list {
  --font-family: var(--font-family--system);
  --color--background: #353641;
  --color--foreground: white;
  --color--highlight: white;
  --color--accent: #ffd23f;
  --anchor--text-decoration: underline;

  .messages {
    color: var(--color--foreground);
    background-color: var(--color--background);
  }

  a {
    color: var(--color--highlight);

    &:hover, &:focus {
      color: var(--color--accent);
    }
  }
}
