{% block wt__theme %}
  <div class="wt__frontend" id="top">

    {% block wt__header %}
      <header class="wt__header wt__header--{% if bannerContentEntity.field_banner_slide.isEmpty ?? true %}no-{% endif %}banner">

        {% block header %}
          {% for key, region in page %}
            {% if key starts with 'header' %}
              {{ region }}
            {% endif %}
          {% endfor %}
        {% endblock %}

        {% block wt__banner %}
          {% set bannerContentEntity = bannerContentEntity|default(node) %}
          {% if not (bannerContentEntity.field_banner_slide.isEmpty ?? false) %}
            <div class="wt__bannercontainer">
              {% block banner__heroimage %}
                {{ bannerContentEntity.field_banner_slide|view }}
              {% endblock %}

              {% for key, region in page %}
                {% if key starts with 'banner' %}
                  {{ region }}
                {% endif %}
              {% endfor %}

            </div>
          {% endif %}
        {% endblock %}
      </header>
    {% endblock %}

    {% block wt__main %}
      <main class="wt__main">

        {% block screenreader %}
          <a id="main-content" tabindex="-1"></a>
        {% endblock %}

        {% block messages %}
          {{ page.messages }}
        {% endblock %}

        {% block content %}
          {{ page.content }}
        {% endblock %}
      </main>
    {% endblock %}

    {% block wt__footer %}
      <footer class="wt__footer">
        {% block footer %}
          {% for key, region in page %}
            {% if key starts with 'footer' %}
              {{ region }}
            {% endif %}
          {% endfor %}
        {% endblock %}
      </footer>
    {% endblock %}
  </div>

  {% block wt__invisible %}
    {{ page.invisible }}
  {% endblock %}

{% endblock %}
